<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a href="https://kauth.kakao.com/oauth/authorize?client_id=58841e7aed65b2ecdae8b390f94030d2&redirect_uri=http://localhost:8080/api/kakao/oauth/redirect&response_type=code">-->
<!--    로그인-->
<!--</a>-->
<h1>Login Page</h1>
<hr>
<a href="/oauth2/authorization/google">google login</a>
<br />
<a href="/oauth2/authorization/kakao">kakao login</a>
<br />
<a href="/oauth2/authorization/facebook">facebook login</a>
<br>
<!--    <a href="/oauth2/authorization/google">google login</a>-->
</body>
</html>